<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img src="https://github.com/tjfaccipieri.png" alt="" width="50" class="rounded-circle">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Thiago Faccipieri <i class="fa fa-user-circle" aria-hidden="true"></i> <span class="sr-only">(current)</span></a>
      </li>

    </ul>
    <p class="text-white">Sair <i class="fa fa-sign-out" aria-hidden="true"></i></p>
  </div>
</nav>